body {
    background-color: #36454F;
    color: #E0E0E0;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project_car {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    margin: 0;
    padding: 0.5rem;
}

p {
    margin: 0;
    padding-bottom: 1rem;
}

.car {
    flex: 1; /* Allow this to grow */
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#carCanvas {
    background: #a9a9a9;
}

#networkCanvas {
    background: #333;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 2px 5px;
    background-color: #a9a9a9;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #008080;
}
