body {
    background: hsl(204 23% 26%);
    color: hsl(210 40% 98%);
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.project_car {
    margin-bottom: 20px;
}

.project_car h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.project_car h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.project_car p {
    font-size: 1.1em;
    margin-bottom: 1.5em;
    color: hsl(210 40% 80%);
}

.car {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

#carCanvas {
    background: #666;
    border-radius: 0.5rem;
}

#networkCanvas {
    background: #333;
    border-radius: 0.5rem;
}

.car-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.car-buttons button {
    border: none;
    background: hsl(180 25% 30%);
    color: hsl(210 40% 98%);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}

.car-buttons button:hover {
    background: hsl(180 100% 25%);
}
